/* navbar*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    font-family: 'Nunito', sans-serif;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/log.jpg);
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbg{
    background-color: transparent;
}
.font{
    font-family: 'Nunito', sans-serif; 
}

/* login form */
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
}
.form h1{
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid gray;
    margin: 50px;
}

/* boxes*/
.box{
    padding: 12px;
    margin: 20px;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
}
/* submit */
#submit{
    padding: 10px 20px;
    margin-top: 50px;
    width: 60%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
::placeholder{
    color: white;
    opacity: 0.7;
}